html, body {
    height: 100%;
}

main {
    min-height: 100vh;
}





/* login page */

.left-side {
    background: linear-gradient(rgba(26,58,107,0.8), rgba(26,58,107,0.8)),
    url("../image/login_bg_image.jpg");
    background-size: cover;
    background-position: center;
    color: white;

}



.title{
    font-size: 2.5rem;
    font-weight: bold;
}

.tagline{
    font-size: 1.1rem;
    opacity: 0.9;
}



body {
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}




/*Media Queries*/


@media (max-width: 567px) {
    .right-side {
        background: linear-gradient(rgba(26,58,107,0.8), rgba(26,58,107,0.8)),
        url("../image/login_bg_image.jpg");
        background-size: cover;
        background-position: center;
        color: white;
    }
}